@model GeoplacementClicker.Web.Models.Home.DetailsViewModel

<h1>Details</h1>

<div>
    <h4>Data entry</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DataEntry.Id)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DataEntry.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DataEntry.Command)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DataEntry.Command)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DataEntry.SequenceNumber)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DataEntry.SequenceNumber)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DataEntry.EUI)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DataEntry.EUI)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DataEntry.TimeStamp)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DataEntry.TimeStamp)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DataEntry.Fcnt)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DataEntry.Fcnt)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DataEntry.Port)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DataEntry.Port)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DataEntry.Frequence)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DataEntry.Frequence)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DataEntry.TOA)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DataEntry.TOA)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DataEntry.DR)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DataEntry.DR)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DataEntry.ACK)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DataEntry.ACK)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DataEntry.SessionKeyId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DataEntry.SessionKeyId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DataEntry.BAT)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DataEntry.BAT)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DataEntry.Data)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DataEntry.Data)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Index">Back to home</a>
</div>
