@model GeoplacementClicker.Web.Models.Home.HomeViewModel
@{
    ViewData["Title"] = "Home Page";
}

<div class="row mb-4">
    <div class="container">
        <button type="button" class="btn btn-success" onclick="startListeningOnClick();">Start listening</button>
        <button type="button" class="btn btn-danger" onclick="stopListeningOnClick();">Stop listening</button>
    </div>
</div>

<div class="row">
    <div class="container">
        <h2>Latest entries</h2>
        <p>This table shows the latest entries from the geoplacement clicker module</p>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>EUI</th>
                    <th>Latitude</th>
                    <th>Longitude</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var dataEntry in Model.DataEntries)
                {
                <tr @((dataEntry.IsSOS.HasValue && dataEntry.IsSOS.Value == true) ? " class=table-danger " : "")>
                    <td>@dataEntry.Id</td>
                    <td>@dataEntry.EUI</td>
                    <td>@(dataEntry.Latitude != null ? dataEntry.Latitude.ToString() : "Unknown")</td>
                    <td>@(dataEntry.Longitude != null ? dataEntry.Longitude.ToString() : "Unknown") </td>
                    <td><a asp-action="Details" asp-route-id="@dataEntry.Id">Details</a> | <a asp-action="Location" asp-route-id="@dataEntry.Id">Show on map</a></td>
                </tr>
                }
            </tbody>
        </table>
    </div>
</div>

@section Scripts  {
<script>
    function startListeningOnClick() {
        $.get("https://localhost:44364/Home/StartListening", function (data) {
            alert(data);
        });
    }

    function stopListeningOnClick() {
         $.get( "https://localhost:44364/Home/StopListening", function( data ) {
          alert( data );
        });
        }

    $(function () {
        setTimeout(function() {
          location.reload();
        }, 3000);
    });

</script>
}